[Unit]
Description=Bootstrap EC2
Before=puppet.service supervisord.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ec2_bootstrap
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
