#################################################################################################
#				Puppet Controlled
#################################################################################################
[Unit]
Description=Disable IPV6 entirely
Before=network-online.target

[Service]
User=root
Type=oneshot
ExecStart=/bin/echo 1 > /proc/sys/net/ipv6/conf/eth0/disable_ipv6
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
